twisted >= 12.0.0
requests >= 2.0.0
pyyaml
jsonschema >= 1.0.0
beautifulsoup4
lxml
pyopenssl
tvdb_api
repoze.lru
pygeoip
sqlalchemy < 0.9.0
dataset < 0.4.0
python-instagram
simplejson >= 3.0.0
httplib2 >= 0.8.0
feedparser >= 5.1.3
