interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.openweathermap.org/data/2.5/weather?q=lappeenranta&units=metric
  response:
    body: {string: !!python/unicode '{"coord":{"lon":28.17,"lat":61.05},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"cmc stations","main":{"temp":-2.64,"pressure":1032,"humidity":86,"temp_min":-3.33,"temp_max":-1.67},"wind":{"speed":4.1,"deg":340},"clouds":{"all":90},"dt":1451307361,"sys":{"type":1,"id":5033,"message":0.0031,"country":"FI","sunrise":1451287279,"sunset":1451307403},"id":648901,"name":"Lappeenranta","cod":200}

'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-source: [back]
    status: {code: 200, message: OK}
version: 1
