interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.dx.com/bi/GetSKUInfo?sku=151659
  response:
    body: {string: "{\"success\":true,\"products\":[{\"sku\":151659,\"headLine\":\"\",\"shortHeadline\":\"Wireless
        Bluetooth Audio Music R...\",\"rewriteUrl\":\"http://www.dx.com/p/wireless-bluetooth-audio-music-receiver-adapter-black-151659\",\"imageUrl\":\"//img.dxcdn.com/productimages/sku_151659_1_small.jpg\",\"listPrice\":\"\u20AC26.20\",\"price\":\"\u20AC14.54\",\"avgRating\":4,\"reviewCount\":25,\"isDeliveryTag\":false,\"category\":\"Bluetooth
        &amp; IrDA\",\"categoryUrl\":\"http://www.dx.com/c/bluetooth-irda-304\",\"reviewUrl\":\"//club.dx.com/reviews/text/151659\",\"innerTag\":\"tag_mvp\",\"discountInfo\":\"\\u003cb\\u003e44%\\u003c/b\\u003e
        OFF\",\"clearanceTip\":\"\"}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-upstream: [16-196]
    status: {code: 200, message: OK}
version: 1
