interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.wolframalpha.com/v2/query?input=42&appid=3EYA3R-WVR6GJQWLH
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult success='true'\n
        \   error='false'\n    numpods='10'\n    datatypes='Number'\n    timedout='Numeric'\n
        \   timedoutpods=''\n    timing='1.754'\n    parsetiming='0.076'\n    parsetimedout='false'\n
        \   recalculate='http://www4c.wolframalpha.com/api/v2/recalc.jsp?id=MSPa65722ac4gfi0eaf3eig00006a9ihfgf8gf3355e&amp;s=52'\n
        \   id='MSPa65822ac4gfi0eaf3eig0000114f07c11bg2b99c'\n    host='http://www4c.wolframalpha.com'\n
        \   server='52'\n    related='http://www4c.wolframalpha.com/api/v2/relatedQueries.jsp?id=MSPa65922ac4gfi0eaf3eig0000459b8626d08e99c6&amp;s=52'\n
        \   version='2.6'>\n <pod title='Input'\n     scanner='Identity'\n     id='Input'\n
        \    position='100'\n     error='false'\n     numsubpods='1'>\n  <subpod title=''>\n
        \  <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP66022ac4gfi0eaf3eig0000657011ddac699b10?MSPStoreType=image/gif&amp;s=52'\n
        \      alt='42'\n       title='42'\n       width='16'\n       height='18'
        />\n   <plaintext>42</plaintext>\n  </subpod>\n </pod>\n <pod title='Number
        name'\n     scanner='Integer'\n     id='NumberName'\n     position='200'\n
        \    error='false'\n     numsubpods='1'>\n  <subpod title=''>\n   <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP66122ac4gfi0eaf3eig00006b0e4e6088h29g15?MSPStoreType=image/gif&amp;s=52'\n
        \      alt='forty-two'\n       title='forty-two'\n       width='62'\n       height='18'
        />\n   <plaintext>forty-two</plaintext>\n  </subpod>\n </pod>\n <pod title='Number
        line'\n     scanner='NumberLine'\n     id='NumberLine'\n     position='300'\n
        \    error='false'\n     numsubpods='1'>\n  <subpod title=''>\n   <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP66222ac4gfi0eaf3eig00001iacba61b1ici7h0?MSPStoreType=image/gif&amp;s=52'\n
        \      alt=''\n       title=''\n       width='300'\n       height='56' />\n
        \  <plaintext></plaintext>\n  </subpod>\n </pod>\n <pod title='Roman numerals'\n
        \    scanner='Integer'\n     id='RomanNumerals'\n     position='400'\n     error='false'\n
        \    numsubpods='1'>\n  <subpod title=''>\n   <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP66322ac4gfi0eaf3eig000018gifcd0hb10gf5i?MSPStoreType=image/gif&amp;s=52'\n
        \      alt='XLII'\n       title='XLII'\n       width='27'\n       height='18'
        />\n   <plaintext>XLII</plaintext>\n  </subpod>\n  <states count='1'>\n   <state
        name='Other historical numerals'\n       input='RomanNumerals__Other historical
        numerals' />\n  </states>\n </pod>\n <pod title='Binary form'\n     scanner='Integer'\n
        \    id='BaseConversions'\n     position='500'\n     error='false'\n     numsubpods='1'>\n
        \ <subpod title=''>\n   <img src='http://www4c.wolframalpha.com/Calculate/MSP/MSP66422ac4gfi0eaf3eig00001gc300ba198h1e2f?MSPStoreType=image/gif&amp;s=52'\n
        \      alt='101010_2'\n[...]
