interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.wolframalpha.com/v2/query?input=42&appid=3EYA3R-WVR6GJQWLH
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult success='true'\n
        \   error='false'\n    numpods='10'\n    datatypes='Number'\n    timedout=''\n
        \   timedoutpods=''\n    timing='1.857'\n    parsetiming='0.07100000000000001'\n
        \   parsetimedout='false'\n    recalculate=''\n    id='MSP16821eea99ba462f403000001i43fc71hce15hc0'\n
        \   host='https://www5b.wolframalpha.com'\n    server='36'\n    related='https://www5b.wolframalpha.com/api/v1/relatedQueries.jsp?id=MSPa16831eea99ba462f40300000629g18b2f53ih6i03163323455734918590'\n
        \   version='2.6'>\n <pod title='Input'\n     scanner='Identity'\n     id='Input'\n
        \    position='100'\n     error='false'\n     numsubpods='1'>\n  <subpod title=''>\n
        \  <img src='https://www5b.wolframalpha.com/Calculate/MSP/MSP16841eea99ba462f40300000604da3254459ge1c?MSPStoreType=image/gif&amp;s=36'\n
        \      alt='42'\n       title='42'\n       width='16'\n       height='18'\n
        \      type='Default'\n       themes='1,2,3,4,5,6,7,8,9,10,11,12'\n       colorinvertable='true'
        />\n   <plaintext>42</plaintext>\n  </subpod>\n  <expressiontypes count='1'>\n
        \  <expressiontype name='Default' />\n  </expressiontypes>\n </pod>\n <pod
        title='Number line'\n     scanner='NumberLine'\n     id='NumberLine'\n     position='200'\n
        \    error='false'\n     numsubpods='1'>\n  <subpod title=''>\n   <img src='https://www5b.wolframalpha.com/Calculate/MSP/MSP16851eea99ba462f4030000056hh96c22efcb9a1?MSPStoreType=image/gif&amp;s=36'\n
        \      alt='Number line'\n       title=''\n       width='330'\n       height='58'\n
        \      type='1DMathPlot_1'\n       t[...]
