interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.wolframalpha.com/v2/query?input=answer%20to%20the%20life%20universe%20and%20everything&appid=3EYA3R-WVR6GJQWLH
  response:
    body:
      string: !!python/unicode "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult
        success='true'\n    error='false'\n    numpods='2'\n    datatypes=''\n    timedout=''\n
        \   timedoutpods=''\n    timing='0.861'\n    parsetiming='0.508'\n    parsetimedout='false'\n
        \   recalculate=''\n    id='MSP55441i2g1165ebe6i2i500006a1b1begdh3750hg'\n
        \   host='https://www5a.wolframalpha.com'\n    server='9'\n    related='https://www5a.wolframalpha.com/api/v1/relatedQueries.jsp?id=MSPa55451i2g1165ebe6i2i500002g6a87f7924ghd043341244972829514463'\n
        \   version='2.6'>\n <pod title='Input interpretation'\n     scanner='Identity'\n
        \    id='Input'\n     position='100'\n     error='false'\n     numsubpods='1'>\n
        \ <subpod title=''>\n   <img src='https://www5a.wolframalpha.com/Calculate/MSP/MSP55461i2g1165ebe6i2i5000022b2h368fdh33h60?MSPStoreType=image/gif&amp;s=9'\n
        \      alt='Answer to the Ultimate Question of Life, the Universe, and Everything'\n
        \      title='Answer to the Ultimate Question of Life, the Universe, and Everything'\n
        \      width='455'\n       height='18'\n       type='Default'\n       themes='1,2,3,4,5,6,7,8,9,10,11,12'\n
        \      colorinvertable='true' />\n   <plaintext>Answer to the Ultimate Question
        of Life, the Universe, and Everything</plaintext>\n  </subpod>\n  <expressiontypes
        count='1'>\n   <expressiontype name='Default' />\n  </expressiontypes>\n </pod>\n
        <pod title='Result'\n     scanner='Data'\n     id='Result'\n     position='200'\n
        \    error='false'\n     numsubpods='1'\n     primary='true'>\n  <subpod title=''>\n
        \  <img src='https://www5a.wolframalpha.com/Calculate/MSP/MSP55471i2g1165ebe6i2i5000042bbhf935850ebea?MSPStoreType=image/gif&amp;s=9'\n
        \      alt='42\n(according to the book The Hitchhiker&apos;s Guide to the
        Galaxy, by Douglas Adams)'\n       title='42\n(according to the book The Hitchhiker&apos;s
        Guide to the Galaxy, by Douglas Adams)'\n       width='449'\n       height='36'\n
        \      type='Grid'\n       themes='1,2,3,4,5,6,7,8,9,10,11,12'\n       colorinvertable='true'
        />\n   <plaintext>42\n(according to the book The Hitchhiker&apos;s Guide to
        the Galaxy, by Douglas Adams)</plaintext>\n  </subpod>\n  <expressiontypes
        count='1'>\n   <expressiontype name='Grid' />\n  </expressiontypes>\n </pod>\n
        <assumptions count='1'>\n  <assumption type='SubCategory'\n      word='answer
        to the life universe and everything'\n      template='Assuming ${desc1}. Use
        ${desc2} instead'\n      count='2'>\n   <value name='AnswerToLifeUniverseEverything'\n
        \      desc='The Ultimate Answer'\n       input='*DPClash.MiscellaneousE.answer+to+the+life+universe+and+everything-_*AnswerToLifeUniverseEverything-'
        />\n   <value name='MontyPythonsMeaningOfLife'\n       desc='Monty Python&apos;s
        Meaning of Life'\n       input='*DPClash.MiscellaneousE.answer+to+the+life+universe+and+everything-_*MontyPythonsMeaningOfLife-'
        />\n  </assumption>\n </assumptions>\n</queryresult>"
    headers:
      content-type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
