interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://python.org/
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://python.org/']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://python.org/
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://www.python.org/']
      public-key-pins: [max-age=2592000; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=";
          pin-sha256="5C8kvU039KouVrl52D0eZSGf4Onjo4Khs8tmyTlV3nU="; pin-sha256="5C8kvU039KouVrl52D0eZSGf4Onjo4Khs8tmyTlV3nU=";
          pin-sha256="lCppFqbkrlJ3EcVFAkeip0+44VaoJUymbnOaEUk7tEU="; pin-sha256="TUDnr0MEoJ3of7+YliBMBVFB4/gJsv5zO7IxD9+YoWI=";
          pin-sha256="x4QzPSC810K5/cMjb05Qm4k3Bw5zBn4lTdO/nEW/Td4=";]
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.python.org/
  response:
    body: {string: "<!doctype html>\n<!--[if lt IE 7]>   <html class=\"no-js ie6 lt-ie7
        lt-ie8 lt-ie9\">   <![endif]-->\n<!--[if IE 7]>      <html class=\"no-js ie7
        lt-ie8 lt-ie9\">          <![endif]-->\n<!--[if IE 8]>      <html class=\"no-js
        ie8 lt-ie9\">                 <![endif]-->\n<!--[if gt IE 8]><!--><html class=\"no-js\"
        lang=\"en\" dir=\"ltr\">  <!--<![endif]-->\n\n<head>\n    <meta charset=\"utf-8\">\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\n    <link
        rel=\"prefetch\" href=\"//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js\">\n\n
        \   <meta name=\"application-name\" content=\"Python.org\">\n    <meta name=\"msapplication-tooltip\"
        content=\"The official home of the Python Programming Language\">\n    <meta
        name=\"apple-mobile-web-app-title\" content=\"Python.org\">\n    <meta name=\"apple-mobile-web-app-capable\"
        content=\"yes\">\n    <meta name=\"apple-mobile-web-app-status-bar-style\"
        content=\"black\">\n\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n    <meta name=\"HandheldFriendly\" content=\"True\">\n
        \   <meta name=\"format-detection\" content=\"telephone=no\">\n    <meta http-equiv=\"cleartype\"
        content=\"on\">\n    <meta http-equiv=\"imagetoolbar\" content=\"false\">\n\n
        \   <script src=\"/static/js/libs/modernizr.js\"></script>\n\n    <link href=\"/static/stylesheets/style.css\"
        rel=\"stylesheet\" type=\"text/css\" title=\"default\" />\n    <link href=\"/static/stylesheets/mq.css\"
        rel=\"stylesheet\" type=\"text/css\" media=\"not print, braille, embossed,
        speech, tty\" />\n    \n\n    <!--[if (lte IE 8)&(!IEMobile)]>\n    <link
        href=\"/static/stylesheets/no-mq.css\" rel=\"stylesheet\" type=\"text/css\"
        media=\"screen\" />\n    \n    \n    <![endif]-->\n\n    \n    <link rel=\"icon\"
        t[...]
[...]
