interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://open.api.ebay.com/shopping?ItemID=390629338875&IncludeSelector=ShippingCosts&version=515&siteid=77&appid=RikuLind-3b6d-4c30-937c-6e7d87b5d8be&callname=GetSingleItem&responseencoding=JSON
  response:
    body: {string: !!python/unicode '{"Timestamp":"2015-12-28T13:16:19.087Z","Ack":"Success","Build":"E949_CORE_APILW_17769283_R1","Version":"949","Item":{"ItemID":"390629338875","EndTime":"2016-01-06T00:14:04.000Z","ViewItemURLForNaturalSearch":"http://www.ebay.de/itm/New-Nano-V3-Sensor-Shield-I-O-Extension-Board-Expansion-Module-Uno-IO-f-Arduino-/390629338875","ListingType":"FixedPriceItem","Location":"Hong
        Kong","GalleryURL":"http://thumbs4.ebaystatic.com/pict/3906293388758080_1.jpg","PictureURL":["http://i.ebayimg.com/00/s/NDUyWDUwMA==/z/Yz8AAOxyzHxRRSzB/$T2eC16FHJHIE9nysd9oSBRRSzBK7Mg~~60_1.JPG?set_id=8800005007"],"PrimaryCategoryID":"162","PrimaryCategoryName":"Computers/Tablets
        & Networking:Other Computing & Networking","BidCount":0,"ConvertedCurrentPrice":{"Value":1.35,"CurrencyID":"EUR"},"ListingStatus":"Active","TimeLeft":"P8DT10H57M46S","Title":"New
        Nano V3 Sensor Shield I/O Extension Board Expansion Module Uno IO f Arduino","ShippingCostSummary":{"ShippingServiceCost":{"Value":4.09,"CurrencyID":"EUR"},"ShippingType":"Flat","ListedShippingServiceCost":{"Value":3.0,"CurrencyID":"GBP"}},"Country":"HK","AutoPay":true,"QuantityAvailableHint":"MoreThan","QuantityThreshold":10}}'}
    headers:
      content-type: [text/plain;charset=utf-8]
      guid: [151e8bb7-89d0-a5e4-55e1-7921a41e795f]
      last-modified: ['Mon, 28 Dec 2015 13:16:19 GMT']
      x-ebay-api-build-tag: [E949_CORE_APILW_17769283_R1]
      x-ebay-api-pool-name: [___cDRidW9rdGZpdWY=]
      x-ebay-api-server-name: [___dWtgMWQ3MWYrPzAxZSgyNSg2MzMoNjA9KDUyNTw/Mz02]
      x-ebay-request-id: ['151e8bb7-89d0-a5e4-55e1-7921a41e795f!shopping!10.94.69.94!esbshopping[]']
    status: {code: 200, message: OK}
[...]
